<?xml version="1.0" encoding="UTF-8"?>
<web-app 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 id="WebApp_ID"
 version="2.5" >

    <servlet>
        <servlet-name>TinitiateJSP</servlet-name>
        <jsp-file>/JSPImplicitObjects/JSPImplicitObject_config.jsp</jsp-file>

        <init-param>
            <param-name>tivalue_init</param-name>
            <param-value>test init</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>TinitiateJSP</servlet-name>
        <url-pattern>/JSPImplicitObjects/JSPImplicitObject_config.jsp</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>tivalue_context</param-name>
        <param-value>test context</param-value>
    </context-param>

  <display-name>TinitiateJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>
